{% extends "!layout.html" %}
{%- block header %}

<div id="top_nav">
    {% if theme_banner_text and theme_banner_text != 'false' %}
        {% include "./components/notification_banner.html" %}
    {% endif %}

    <nav>
        {% if logo_url %}
            {% set nav_title = '<img src="' + logo_url + '"/>' %}
        {% else %}
            {% set nav_title = shorttitle %}
        {% endif %}

        <p id="toggle_sidebar">
            <a href="#" title="Toggle sidebar">|||</a>
        </p>
        <h1><a href="{{ pathto(root_doc)|e }}" title="Go to homepage">{{ nav_title }}</a></h1>

        <div class="languageDropdown">
            <a href="#" onclick="toggleLanguageDropdown()">
                English
            </a>
            <div class="languageDropdown-content">
                <a href="/en/{{ pagename }}">English</a>
                <a href="/ja/{{ pagename }}">日本語</a>
                <a href="/ko/{{ pagename }}">한국어</a>
                <a href="/zh-cn/{{ pagename }}">简体中文</a>
                <a href="/zh-tw/{{ pagename }}">繁體中文</a>
            </div>
        </div>

        &nbsp;&nbsp;&nbsp;&nbsp;

        {%- if theme_source_url %}
            {% include "./components/source_link.html" %}
        {% endif %}

        {% include "./dark_mode_toggle.html" %}

        {%- if pagename != "search" %}
            <p class="mobile_search_link">
                <a href="{{ pathto('search') }}" title="Search">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 65 64" fill-rule="evenodd" stroke-linejoin="round" stroke-miterlimit="2">
                        <path d="M14.873 40.009c-2.315-3.943-3.642-8.532-3.642-13.429C11.231 11.91 23.141 0 37.811 0s26.58 11.91 26.58 26.58-11.91 26.58-26.58 26.58a26.44 26.44 0 0 1-14.277-4.161L9.739 62.794a3.12 3.12 0 0 1-4.413 0L.913 58.382c-1.217-1.218-1.217-3.196 0-4.413l13.96-13.96zM37.811 8.054c10.225 0 18.526 8.301 18.526 18.526s-8.301 18.526-18.526 18.526-18.526-8.301-18.526-18.526S27.586 8.054 37.811 8.054z" fill="#333333" />
                    </svg>
                </a>
            </p>
        {% endif %}

        <div class="searchbox_wrapper">
            {% include "basic/searchbox.html" %}
        </div>
    </nav>
</div>

<script>
    function toggleLanguageDropdown() {
        const dropdown = document.querySelector('.languageDropdown');
        dropdown.classList.toggle('active');
    }

    window.addEventListener('click', function(event) {
        const dropdown = document.querySelector('.languageDropdown');
        if (!dropdown.contains(event.target)) {
            dropdown.classList.remove('active');
        }
    });
</script>

{% endblock %}

{%- block relbar2 %}
{% endblock %}

{%- block document %}
<div style="margin-left: 2vw">
	<p>
        {% if parents|length > 0 %}
            {%- for doc in parents %}
                <a href="{{ doc.link|e }}">{{ doc.title }}</a> &lt;
            {%- endfor %}
            {{ title }}
        {% endif %}
	</p>
</div>

<script>
    window.addEventListener("load", () => {
        // Scroll toctree to current page
        // Last item in array is current page
        const elements = document.querySelectorAll("li.current");
        if (elements.length > 0) {
            elements[elements.length - 1].scrollIntoView({block: "center"});
        }
    });
</script>

{{ super() }}
{% endblock %}

{%- block scripts %}
{{ super() }}

<script>
    window.addEventListener("load", () => {
        // Replace <pro /> and <profree /> tags
        for (const element of document.querySelectorAll(".pro")) {
            element.textContent = "[P]";
            element.setAttribute("title", "EmEditor Professional only");
            element.style.verticalAlign = "super";
            element.style.fontSize = "smaller";
            element.style.cursor = "help";
        }

        for (const element of document.querySelectorAll(".profree")) {
            element.textContent = "[PF]";
            element.setAttribute("title", "EmEditor Professional and EmEditor Free");
            element.style.verticalAlign = "super";
            element.style.fontSize = "smaller";
            element.style.cursor = "help";
        }
    });
</script>
{% endblock %}