<a id="mode_toggle" href="#" @click.prevent="handleClick" :title="mode">
    <template v-if="mode == 'light'">
        <img src="{{ pathto('_static/mode_toggle_light.svg', 1) }}" alt="Mode toggle" />
    </template>

    <template v-if="mode == 'dark'">
        <img src="{{ pathto('_static/mode_toggle_dark.svg', 1) }}" alt="Mode toggle" />
    </template>

    <template v-if="mode == 'darkest'">
        <img src="{{ pathto('_static/mode_toggle_darkest.svg', 1) }}" alt="Mode toggle" />
    </template>
</a>