:root {
    --mainNavColor: #f8f8f8;
    --navbarHeight: 1rem;
    --linkColor: #e32d00;
}

div#top_nav nav {
    padding: 0 30px;
    height: 30px;
}

div#top_nav nav h1 a, div#searchbox form.search input[type=submit] {
    color: #333333;
}

div#top_nav {
    color: #333333;
}

div#top_nav nav p#toggle_sidebar a {
    color: #333333;
}

div#top_nav nav div.searchbox_wrapper div#searchbox p.highlight-link a,
    div#top_nav nav div.searchbox_wrapper div#searchbox p.highlight-link a:hover {
    color: #333333;
}

.languageDropdown {
    position: relative;
}

.languageDropdown a {
    margin-top: 2px;
    margin-bottom: 2px;
}

.languageDropdown-content {
    display: none;
    position: absolute;
    min-width: 100px;
    z-index: 1;
    background-color: var(--mainNavColor);
}

.languageDropdown.active .languageDropdown-content {
    display: flex;
    flex-direction: column;
}

div#searchbox form.search input[type="text"] {
    background-color: #ffffff;
    color: #333333;
    border: 1px solid #eaeaea;
}

div.document form input[type="submit"] {
    color: #333333;
    background-color: #f2f2f2;
}

div#top_nav nav p.mobile_search_link a {
    color: #333333;
}

h1 {
    font-size: 2rem;
    font-family: 'Roboto', 'Noto Sans JP', sans-serif;
    font-weight: 700;
}

.nextprevious {
    display: flex;
    justify-content: space-between;
}

.nextprevious p {
    margin: 0 20px
}